* {
  font-family: "Outfit", sans-serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.form-control:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}


.form-label {
  margin-bottom: .4rem;
  color: #000000a1;
}

a{
  text-decoration: none;
  color: inherit;
}



/*  */
/* edit delet button */



